/* src/styles/CartPage.module.css */

.cartPage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cartItems {
  flex: 2;
}

.cartTable {
  width: 100%;
  border-collapse: collapse;
}

.cartTable th,
.cartTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.quantity button:hover {
  background-color: #e0e0e0;
}

.orderSummary {
  flex: 1;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-left: 20px;
}

.summaryItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.summaryItem label {
  margin-bottom: 5px;
}

.summaryItem span {
  display: inline-block;
  margin-bottom: 5px;
}

.summaryItemTotal {
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #004494;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Tambahan untuk halaman konfirmasi */
.confirmationPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjusted height for larger view */
  text-align: center; /* Teks dan tombol disusun rapi (rata) */
  background-color: #f9f9f9;
}

.confirmationContainer {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
}

.imageAndText {
  display: flex;
  align-items: center; /* Teks dan gambar disusun rapi (rata) secara vertikal */
}

.imageContainer {
  margin-right: 20px; /* Jarak antara gambar dan teks */
}

.confirmationImage {
  width: 300px;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Teks dan tombol disusun rapi (rata) secara horizontal */
}

.confirmationHeading {
  font-size: 28px; /* Increased font size */
  margin-bottom: 1rem;
  font-weight: bold;
}

.confirmationSubHeading {
  font-size: 20px; /* Increased font size */
  margin-bottom: 1rem;
  font-weight: 600;
}

.confirmationOrderId {
  font-size: 18px; /* Increased font size */
  margin-bottom: 2rem;
  color: #727272;
}

.confirmationButton {
  padding: 12px 24px; /* Increased padding */
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmationButton:hover {
  background-color: #555;
}
