@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sarala";
    font-weight: 400;
    src: url("/font/Sarala/Sarala-Regular.ttf"), format("truetype");
  }
}
